@media only screen and (max-width:1200px)
{
    .back-to-top
    {
        display: none !important;
    }
}

@media only screen and (min-width:900px)
{
    #header .logo img
    {
        height: 80px;
        position: relative;
        left: 15%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width:1024px)
{
    .fixture-row-left, .fixture-row-right
    {
        width: 100%;
    }

    .fixture-row-left
    {
        border-right: none;
        border-bottom-style: dashed;
    }
}

@media only screen and (max-width:900px)
{
    .contact-box
    {
        height: 130px;
        padding: 0;
    }

    #mobile-menu
    {
        background-image: url("https://d1asmq9pjfbzxs.cloudfront.net/images/downArrow2.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    .toggleMenu
    {
        background-image: url("https://d1asmq9pjfbzxs.cloudfront.net/images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    #mainmenu
    {
        float: none;
    }

        #mainmenu > li
        {
            float: none;
        }

            #mainmenu > li > .parent
            {
                background-image: url("https://d1asmq9pjfbzxs.cloudfront.net/images/downArrow.png");
                background-repeat: no-repeat;
                background-position: 95% 50%;
            }

        #mainmenu li li .parent
        {
            background-image: url("https://d1asmq9pjfbzxs.cloudfront.net/images/downArrow.png");
            background-repeat: no-repeat;
            background-position: 95% 50%;
        }

            #mainmenu li li .parent:hover
            {
                background-image: url("https://d1asmq9pjfbzxs.cloudfront.net/images/downArrow.png");
                background-repeat: no-repeat;
                background-position: 95% 50%;
            }

    #mainmenu
    {
        float: none;
        line-height: 40px;
        padding-right: 0px;
    }

        #mainmenu ul li:first-child
        {
            margin-top: 0px;
        }

        #mainmenu ul li:last-child
        {
            margin-bottom: 0px;
        }

        #mainmenu ul
        {
            display: block;
            width: 100%;
        }

        #mainmenu > li.hover > ul, #mainmenu li li.hover ul
        {
            position: static;
        }

        #mainmenu a::before, #mainmenu ul li a::before
        {
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            -ms-transition: none;
        }

        #mainmenu a:hover::before
        {
            height: 0%;
        }

        #mainmenu ul li a
        {
            padding: 5px 30px;
            background-color: #616161;
        }

        #mainmenu ul li li a
        {
            background-color: #616161;
        }

    #mobile-menu
    {
        display: block;
    }

    .flex-title
    {
        display: none;
    }

    #submenu
    {
        width: 100%;
        display: none;
    }

        #submenu ul li
        {
            width: 100%;
        }

            #submenu ul li:first-child
            {
                padding-top: 10px;
            }

            #submenu ul li:last-child
            {
                padding-bottom: 10px;
            }

    #submenu-login
    {
        float: left;
        width: 100%;
        display: none;
    }

        #submenu-login ul li
        {
            float: left;
            width: 100%;
            padding-left: 15px;
        }

            #submenu-login ul li:first-child
            {
                padding-top: 10px;
            }

            #submenu-login ul li:last-child
            {
                padding-bottom: 10px;
            }

        #submenu a, #submenu-login a
        {
            padding-top: 10px;
            padding-bottom: 10px;
        }
}

@media only screen and (max-width:800px)
{
    .leftcontainer
    {
        width: 100%;
        float: none;
        padding-right: 0px;
        margin-bottom: 30px;
    }

    .rightcontainer
    {
        width: 100%;
        float: none;
        padding-left: 0px;
    }

    .first-clmn, .second-clmn, .third-clmn
    {
        padding: 0px 0px 30px 0px;
        width: 100%;
    }

    .scores-title
    {
        font-size: 26px;
    }

    .match-results span
    {
        font-size: 18px;
        display: block;
    }

    .match-results .score
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    .match-place span
    {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }

    .match-results
    {
        margin-bottom: 0px;
        padding-top: 0px;
    }

    h1, .page-title, .scores-title
    {
        font-size: 26px;
    }

    h2
    {
        font-size: 22px;
    }

    h3
    {
        font-size: 20px;
    }

    h4
    {
        font-size: 18px;
    }

    h5
    {
        font-size: 16px;
    }

    h6
    {
        font-size: 14px;
    }

    #header .logo .tag
    {
        font-size: 20px;
    }

    span._team
    {
        font-size: 35px;
    }

    span._kart
    {
        font-size: 60px;
    }

    #header .logo img
    {
        height: 70px;
        width: auto;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        float: left;
    }
}

@media only screen and (max-width:640px)
{
    #header .logo span
    {
        margin: 0px;
        float: left;
        display: block;
    }

    span._team
    {
        position: relative;
        top: 18px;
    }

    #header .logo > div
    {
        white-space: nowrap !important;
    }

    #header .logo span .tag
    {
        text-align: center;
    }

    #header .logo img
    {
        float: none;
        width: 100%;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #header .logo span:after
    {
        display: none;
    }

    .contact-box
    {
        height: 130px;
        padding: 0;
    }

    .contact-box-dp
    {
        height: 90px;
        float: left;
        padding-right: 10px;
    }

    .color-table table, .color-table thead, .color-table tbody, .color-table th, .color-table td, .color-table tr
    {
        display: block;
    }

        .color-table thead tr
        {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .color-table td
    {
        border: none;
        position: relative;
        padding-left: 40%;
        text-align: left;
    }

        .color-table td:before
        {
            font-weight: 700;
            text-align: left;
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
}

@media only screen and (max-width:480px)
{
    .team-gallery li
    {
        width: 100% !important;
    }

    .filters li a
    {
        line-height: 3;
    }
}
